code/封闭赛道(work).yml
app:
  description: ''
  icon: face_with_monocle
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: 封闭赛道(work)
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/xinference:0.0.7@0b689c15d6fe27e5540f68b70fc33fda70a87942481dec849513f69fd5fb0ede
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: zeroz-lab/milvus:0.1.3@f817c4e6d3177d69779da58c2eb538ea9c7ed9c8a751403e3c82db1c1f8e7d8b
kind: app
version: 0.4.0
workflow:
  conversation_variables:
  - description: ''
    id: 45305c34-ce44-4edc-813c-c08e08e234f9
    name: default_history
    selector:
    - conversation
    - default_history
    value: ''
    value_type: string
  - description: ''
    id: 7ffdfd62-50ae-4cbd-b20d-a4bdda64596c
    name: schema
    selector:
    - conversation
    - schema
    value: "## 实体类型、描述、示例及属性（共21类）：\n```json\n[\n  {\n    \"类型名\": \"疾病\",\n    \"\
      描述\": \"在致病因素影响下，人体机能、形态、神志活动等方面的异常改变，并反映为一定的症状和体征的邪正交争的病理过程。\",\n    \"实体属性\"\
      : [\n      \"异名\"\n    ]\n  },\n  {\n    \"类型名\": \"症状\",\n    \"描述\": \"患者在疾病过程中主观异常感觉和部分客观异常表现。\"\
      ,\n    \"实体属性\": []\n  },\n  {\n    \"类型名\": \"证候\",\n    \"描述\": \"指在疾病发展过程中某一阶段的病理概括。\"\
      ,\n    \"实体属性\": []\n  },\n  {\n    \"类型名\": \"病因病机\",\n    \"描述\": \"病因病机是指疾病发生的原因以及发展变化的机理。\"\
      ,\n    \"实体属性\": []\n  },\n  {\n    \"类型名\": \"治法治则\",\n    \"描述\": \"治疗疾病的原则和方法。\"\
      ,\n    \"实体属性\": []\n  },\n  {\n    \"类型名\": \"中药\",\n    \"描述\": \"中药是指中医诊疗中使用的药品名称。\"\
      ,\n    \"实体属性\": [\n      \"异名\",\n      \"毒性\",\n      \"用法\",\n      \"禁忌\"\
      ,\n      \"归经\"\n    ]\n  },\n  {\n    \"类型名\": \"方剂\",\n    \"描述\": \"方剂是指中医治疗疾病时使用的处方名称。\"\
      ,\n    \"实体属性\": [\n      \"用法\"\n    ]\n  },\n  {\n    \"类型名\": \"防治\",\n \
      \   \"描述\": \"预防和治疗疾病\",\n    \"实体属性\": []\n  },\n  {\n    \"类型名\": \"调护\",\n\
      \    \"描述\": \"病后调养护理\",\n    \"实体属性\": []\n  },\n  {\n    \"类型名\": \"其它疗法\"\
      ,\n    \"描述\": \"除内治法外的其他治疗方法\",\n    \"实体属性\": []\n  },\n  {\n    \"类型名\":\
      \ \"医家\",\n    \"描述\": \"医家泛指古籍中提及的所有从医的人。\",\n    \"实体属性\": [\n      \"字\"\
      ,\n      \"号\",\n      \"别称\"\n    ]\n  },\n  {\n    \"类型名\": \"古籍\",\n    \"\
      描述\": \"古籍名称或引用的条文的来源。\",\n    \"实体属性\": [\n      \"简称\"\n    ]\n  },\n  {\n\
      \    \"类型名\": \"地域\",\n    \"描述\": \"古籍中提及的地理名称。\",\n    \"实体属性\": []\n  },\n\
      \  {\n    \"类型名\": \"朝代\",\n    \"描述\": \"古籍中提及的朝代。\",\n    \"实体属性\": []\n \
      \ },\n  {\n    \"类型名\": \"时间\",\n    \"描述\": \"古籍中提及的时间。\",\n    \"实体属性\": []\n\
      \  },\n  {\n    \"类型名\": \"功效\",\n    \"描述\": \"中药/方剂所具有的、对人体的作用或效应。\",\n  \
      \  \"实体属性\": []\n  },\n  {\n    \"类型名\": \"经络\",\n    \"描述\": \"经脉和脉络的统称\",\n\
      \    \"实体属性\": []\n  },\n  {\n    \"类型名\": \"腧穴\",\n    \"描述\": \"人体脏腑经络之气输注于体表的部位，是针灸治疗疾病的刺激点与反应点。\"\
      ,\n    \"实体属性\": [\n      \"异名\",\n      \"定位\"\n    ]\n  },\n  {\n    \"类型名\"\
      : \"刺灸法\",\n    \"描述\": \"包括刺法和灸法\",\n    \"实体属性\": []\n  },\n  {\n    \"类型名\"\
      : \"脉象\",\n    \"描述\": \"指脉搏的快慢、强弱、深浅的情况。\",\n    \"实体属性\": [\n      \"特征\"\n\
      \    ]\n  },\n  {\n    \"类型名\": \"舌象\",\n    \"描述\": \"包括舌质和舌苔变化\",\n    \"\
      实体属性\": []\n  }\n]\n```\n\n## 实体间关系类型及属性\n```json\n[\n  {\n    \"头实体类型\": \"\
      古籍\",\n    \"关系类型\": \"时间上相关\",\n    \"尾实体类型\": \"时间\",\n    \"关系属性\": []\n\
      \  },\n  {\n    \"头实体类型\": \"医家\",\n    \"关系类型\": \"时间上相关\",\n    \"尾实体类型\"\
      : \"时间\",\n    \"关系属性\": []\n  },\n  {\n    \"头实体类型\": \"医家\",\n    \"关系类型\"\
      : \"空间上相关\",\n    \"尾实体类型\": \"地域\",\n    \"关系属性\": []\n  },\n  {\n    \"头实体类型\"\
      : \"医家\",\n    \"关系类型\": \"编写\",\n    \"尾实体类型\": \"古籍\",\n    \"关系属性\": []\n\
      \  },\n  {\n    \"头实体类型\": \"医家\",\n    \"关系类型\": \"使用\",\n    \"尾实体类型\": \"\
      古籍\",\n    \"关系属性\": []\n  },\n  {\n    \"头实体类型\": \"疾病\",\n    \"关系类型\": \"\
      诊断\",\n    \"尾实体类型\": \"证候\",\n    \"关系属性\": []\n  },\n  {\n    \"头实体类型\": \"\
      病因病机\",\n    \"关系类型\": \"引起\",\n    \"尾实体类型\": \"疾病\",\n    \"关系属性\": []\n \
      \ },\n  {\n    \"头实体类型\": \"病因病机\",\n    \"关系类型\": \"引起\",\n    \"尾实体类型\": \"\
      证候\",\n    \"关系属性\": []\n  },\n  {\n    \"头实体类型\": \"疾病\",\n    \"关系类型\": \"\
      治疗方法\",\n    \"尾实体类型\": \"治法治则\",\n    \"关系属性\": []\n  },\n  {\n    \"头实体类型\"\
      : \"疾病\",\n    \"关系类型\": \"表现\",\n    \"尾实体类型\": \"症状\",\n    \"关系属性\": []\n\
      \  },\n  {\n    \"头实体类型\": \"证候\",\n    \"关系类型\": \"表现\",\n    \"尾实体类型\": \"\
      症状\",\n    \"关系属性\": []\n  },\n  {\n    \"头实体类型\": \"证候\",\n    \"关系类型\": \"\
      治疗方法\",\n    \"尾实体类型\": \"治法治则\",\n    \"关系属性\": []\n  },\n  {\n    \"头实体类型\"\
      : \"方剂\",\n    \"关系类型\": \"组成\",\n    \"尾实体类型\": \"中药\",\n    \"关系属性\": [\n\
      \      \"剂量\"\n    ]\n  },\n  {\n    \"头实体类型\": \"方剂\",\n    \"关系类型\": \"治疗\"\
      ,\n    \"尾实体类型\": \"疾病\",\n    \"关系属性\": []\n  },\n  {\n    \"头实体类型\": \"方剂\"\
      ,\n    \"关系类型\": \"治疗\",\n    \"尾实体类型\": \"证候\",\n    \"关系属性\": []\n  },\n \
      \ {\n    \"头实体类型\": \"方剂\",\n    \"关系类型\": \"具有\",\n    \"尾实体类型\": \"功效\",\n\
      \    \"关系属性\": []\n  },\n  {\n    \"头实体类型\": \"其它疗法\",\n    \"关系类型\": \"治疗\"\
      ,\n    \"尾实体类型\": \"疾病\",\n    \"关系属性\": []\n  },\n  {\n    \"头实体类型\": \"防治\"\
      ,\n    \"关系类型\": \"预防\",\n    \"尾实体类型\": \"疾病\",\n    \"关系属性\": []\n  },\n \
      \ {\n    \"头实体类型\": \"调护\",\n    \"关系类型\": \"调养护理方法\",\n    \"尾实体类型\": \"疾病\"\
      ,\n    \"关系属性\": []\n  },\n  {\n    \"头实体类型\": \"中药\",\n    \"关系类型\": \"治疗\"\
      ,\n    \"尾实体类型\": \"疾病\",\n    \"关系属性\": []\n  },\n  {\n    \"头实体类型\": \"中药\"\
      ,\n    \"关系类型\": \"配伍关系\",\n    \"尾实体类型\": \"中药\",\n    \"关系属性\": [\n      \"\
      效果描述\"\n    ]\n  },\n  {\n    \"头实体类型\": \"中药\",\n    \"关系类型\": \"具有\",\n  \
      \  \"尾实体类型\": \"功效\",\n    \"关系属性\": []\n  },\n  {\n    \"头实体类型\": \"腧穴\",\n\
      \    \"关系类型\": \"治疗\",\n    \"尾实体类型\": \"疾病\",\n    \"关系属性\": []\n  },\n  {\n\
      \    \"头实体类型\": \"腧穴\",\n    \"关系类型\": \"使用\",\n    \"尾实体类型\": \"刺灸法\",\n  \
      \  \"关系属性\": []\n  },\n  {\n    \"头实体类型\": \"腧穴\",\n    \"关系类型\": \"属于\",\n\
      \    \"尾实体类型\": \"经络\",\n    \"关系属性\": []\n  },\n  {\n    \"头实体类型\": \"腧穴\"\
      ,\n    \"关系类型\": \"配伍关系\",\n    \"尾实体类型\": \"腧穴\",\n    \"关系属性\": [\n      \"\
      效果描述\"\n    ]\n  },\n  {\n    \"头实体类型\": \"舌象\",\n    \"关系类型\": \"反映\",\n  \
      \  \"尾实体类型\": \"疾病\",\n    \"关系属性\": []\n  },\n  {\n    \"头实体类型\": \"舌象\",\n\
      \    \"关系类型\": \"反映\",\n    \"尾实体类型\": \"证候\",\n    \"关系属性\": []\n  },\n  {\n\
      \    \"头实体类型\": \"脉象\",\n    \"关系类型\": \"反映\",\n    \"尾实体类型\": \"疾病\",\n   \
      \ \"关系属性\": []\n  },\n  {\n    \"头实体类型\": \"脉象\",\n    \"关系类型\": \"反映\",\n \
      \   \"尾实体类型\": \"证候\",\n    \"关系属性\": []\n  },\n  {\n    \"头实体类型\": \"古籍\",\n\
      \    \"关系类型\": \"时间上相关\",\n    \"尾实体类型\": \"朝代\",\n    \"关系属性\": []\n  },\n\
      \  {\n    \"头实体类型\": \"治法治则\",\n    \"关系类型\": \"可用方剂\",\n    \"尾实体类型\": \"方剂\"\
      ,\n    \"关系属性\": []\n  },\n  {\n    \"头实体类型\": \"治法治则\",\n    \"关系类型\": \"可用中药\"\
      ,\n    \"尾实体类型\": \"中药\",\n    \"关系属性\": []\n  }\n]\n```"
    value_type: string
  environment_variables:
  - description: 服务器访问地址
    id: 616e2e28-5c5e-4498-8026-85a4c77d5ad6
    name: host
    selector:
    - env
    - host
    value: host.docker.internal
    value_type: string
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: llm
        targetType: answer
      id: 1711528815414-1711528835179
      selected: false
      source: '1711528815414'
      sourceHandle: source
      target: '1711528835179'
      targetHandle: target
      type: custom
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1758536941521-true-1758545877413-target
      selected: false
      source: '1758536941521'
      sourceHandle: 'true'
      target: '1758545877413'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1758536941521-false-17585463115430-target
      selected: false
      source: '1758536941521'
      sourceHandle: 'false'
      target: '17585463115430'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: 1758547736419-source-1758552360172-target
      selected: false
      source: '1758547736419'
      sourceHandle: source
      target: '1758552360172'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 17585530854570-source-1711528815414-target
      selected: false
      source: '17585530854570'
      sourceHandle: source
      target: '1711528815414'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 17585463115430-source-1758537397622-target
      selected: false
      source: '17585463115430'
      sourceHandle: source
      target: '1758537397622'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1758560742860-true-1758560836375-target
      selected: false
      source: '1758560742860'
      sourceHandle: 'true'
      target: '1758560836375'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1758560836375-source-1758560906719-target
      selected: false
      source: '1758560836375'
      sourceHandle: source
      target: '1758560906719'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 17585620519950-source-17585622572470-target
      selected: false
      source: '17585620519950'
      sourceHandle: source
      target: '17585622572470'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 17585622572470-source-1758562332651-target
      selected: false
      source: '17585622572470'
      sourceHandle: source
      target: '1758562332651'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: loop
      id: 1758560742860-false-1758562758867-target
      selected: false
      source: '1758560742860'
      sourceHandle: 'false'
      target: '1758562758867'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1758562758867'
        sourceType: loop-start
        targetType: code
      id: 1758562758867start-source-1758562922951-target
      selected: false
      source: 1758562758867start
      sourceHandle: source
      target: '1758562922951'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1758562758867'
        sourceType: code
        targetType: http-request
      id: 1758562922951-source-1758562989947-target
      selected: false
      source: '1758562922951'
      sourceHandle: source
      target: '1758562989947'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1758562758867'
        sourceType: http-request
        targetType: code
      id: 1758562989947-source-1758563148923-target
      selected: false
      source: '1758562989947'
      sourceHandle: source
      target: '1758563148923'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1758562758867'
        sourceType: code
        targetType: llm
      id: 1758563375302-source-1758563465383-target
      selected: false
      source: '1758563375302'
      sourceHandle: source
      target: '1758563465383'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1758562758867'
        sourceType: code
        targetType: assigner
      id: 1758564246986-source-1758564167661-target
      selected: false
      source: '1758564246986'
      sourceHandle: source
      target: '1758564167661'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1758562758867'
        sourceType: llm
        targetType: code
      id: 1758563465383--1758565236664-target
      selected: false
      source: '1758563465383'
      sourceHandle: source
      target: '1758565236664'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1758562758867'
        sourceType: code
        targetType: assigner
      id: 1758565236664-source-1758565272979-target
      selected: false
      source: '1758565236664'
      sourceHandle: source
      target: '1758565272979'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1758562758867'
        sourceType: assigner
        targetType: llm
      id: 1758565272979-source-1758563857719-target
      selected: false
      source: '1758565272979'
      sourceHandle: source
      target: '1758563857719'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1758562758867'
        sourceType: llm
        targetType: code
      id: 1758563857719-source-1758564246986-target
      selected: false
      source: '1758563857719'
      sourceHandle: source
      target: '1758564246986'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: tool
      id: 1758552360172-source-1758632791188-target
      selected: false
      source: '1758552360172'
      sourceHandle: source
      target: '1758632791188'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: code
      id: 1758632791188-source-17585530854570-target
      selected: false
      source: '1758632791188'
      sourceHandle: source
      target: '17585530854570'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: 17585610125610-source-17586404785210-target
      selected: false
      source: '17585610125610'
      sourceHandle: source
      target: '17586404785210'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: tool
      id: 17586404785210-source-17586411911160-target
      selected: false
      source: '17586404785210'
      sourceHandle: source
      target: '17586411911160'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: tool
      id: 17586404785210-source-17586416666360-target
      selected: false
      source: '17586404785210'
      sourceHandle: source
      target: '17586416666360'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: code
      id: 17586411911160-source-17585620519950-target
      selected: false
      source: '17586411911160'
      sourceHandle: source
      target: '17585620519950'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: code
      id: 17586416666360-source-17586426650580-target
      selected: false
      source: '17586416666360'
      sourceHandle: source
      target: '17586426650580'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 17586426650580-source-17585622572470-target
      selected: false
      source: '17586426650580'
      sourceHandle: source
      target: '17585622572470'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1758562758867'
        sourceType: code
        targetType: tool
      id: 1758563148923-source-1758643832137-target
      selected: false
      source: '1758563148923'
      sourceHandle: source
      target: '1758643832137'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1758562758867'
        sourceType: code
        targetType: tool
      id: 1758563148923-source-1758643836216-target
      selected: false
      source: '1758563148923'
      sourceHandle: source
      target: '1758643836216'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1758562758867'
        sourceType: tool
        targetType: code
      id: 1758643832137-source-1758563375302-target
      selected: false
      source: '1758643832137'
      sourceHandle: source
      target: '1758563375302'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1758562758867'
        sourceType: tool
        targetType: code
      id: 1758643836216-source-1758643999274-target
      selected: false
      source: '1758643836216'
      sourceHandle: source
      target: '1758643999274'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        loop_id: '1758562758867'
        sourceType: code
        targetType: llm
      id: 1758643999274-source-1758563465383-target
      selected: false
      source: '1758643999274'
      sourceHandle: source
      target: '1758563465383'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: loop
        targetType: if-else
      id: 1758562758867-source-1758645868964-target
      selected: false
      source: '1758562758867'
      sourceHandle: source
      target: '1758645868964'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1758645868964-true-1758564079267-target
      selected: false
      source: '1758645868964'
      sourceHandle: 'true'
      target: '1758564079267'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1758645868964-false-1758645920356-target
      selected: false
      source: '1758645868964'
      sourceHandle: 'false'
      target: '1758645920356'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1758645920356-source-1758645944326-target
      selected: false
      source: '1758645920356'
      sourceHandle: source
      target: '1758645944326'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: http-request
      id: 1758545877413-source-1758547736419-target
      selected: false
      source: '1758545877413'
      sourceHandle: source
      target: '1758547736419'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: http-request
      id: 1758560742860-e25299cc-6f06-4e23-b069-1477c95211db-17585610125610-target
      selected: false
      source: '1758560742860'
      sourceHandle: e25299cc-6f06-4e23-b069-1477c95211db
      target: '17585610125610'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: start
        targetType: if-else
      id: 1711528708197-source-1758536941521-target
      source: '1711528708197'
      sourceHandle: source
      target: '1758536941521'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1758537397622-source-1758771815078-target
      source: '1758537397622'
      sourceHandle: source
      target: '1758771815078'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1758771815078-source-1758560742860-target
      source: '1758771815078'
      sourceHandle: source
      target: '1758560742860'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables: []
      height: 54
      id: '1711528708197'
      position:
        x: 30
        y: 712
      positionAbsolute:
        x: 30
        y: 712
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            max_tokens: 8192
            temperature: 0.6
          mode: chat
          name: Qwen3-8B
          provider: langgenius/xinference/xinference
        prompt_template:
        - id: 24d18d3d-3775-4a7a-844a-89fa896e79da
          role: system
          text: '你是一个在中医领域拥有丰富知识和临床经验的专家。现在，请你严格遵循中医理论规范与临床诊疗逻辑，参考所提供的相似病案的信息，按指定格式要求为待诊断病案进行诊断和治疗方案制定。


            **注意：** 并非所有的相似病案都与待诊断病案密切相关，你需要根据自己的理解，结合各病案的具体情况，合理利用相似病案中的信息。'
        - id: 7c90d39f-805e-4718-bcc5-7b2fb6cc1c35
          role: user
          text: '# 以下是三个相似病案的信息：

            ```

            {{#17585530854570.similar_cases#}}

            ```


            # 这是一个待诊断病案的信息：

            ```

            {{#1758545877413.question#}}

            ```


            # 请按以下格式返回你的答案：

            ```

            【中医疾病诊断】

            （请根据病案内容，给出准确的中医疾病诊断名称）


            【中医证候诊断】

            （请根据病案内容，给出准确的中医证候诊断名称）


            【中医辨病辨证依据】

            （请详细分析病案中的症状、体征等信息，解释辨病辨证的依据）


            【中医病证鉴别】

            （请与相似疾病或证候进行鉴别分析）


            【中医治法】

            （请给出具体的中医治疗原则和方法）


            【方剂名称】

            （请给出适合该病例的方剂名称）


            【药物组成、剂量及煎服方法】

            （请列出方剂中的药物名称、用量及煎煮服用方法）

            ```'
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 1000
        selected: false
        title: '回答 '
        type: llm
        variables: []
        vision:
          enabled: false
      dragging: false
      height: 120
      id: '1711528815414'
      position:
        x: 2459
        y: 273
      positionAbsolute:
        x: 2459
        y: 273
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1711528815414.text#}}'
        desc: ''
        selected: false
        title: Answer
        type: answer
        variables:
        - value_selector:
          - '1711528815414'
          - text
          variable: text
      dragging: false
      height: 105
      id: '1711528835179'
      position:
        x: 2793
        y: 273
      positionAbsolute:
        x: 2793
        y: 273
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: e6fb3ad7-199b-4789-a8c6-7b3df15728b6
            value: 作为一位中医临床专家，请根据以下病案内容进行诊断和治疗方案制定。
            varType: string
            variable_selector:
            - sys
            - query
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: 条件分支
        type: if-else
      height: 126
      id: '1758536941521'
      position:
        x: 364
        y: 712
      positionAbsolute:
        x: 364
        y: 712
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            max_tokens: 8192
            temperature: 0.6
          mode: chat
          name: Qwen3-8B
          provider: langgenius/xinference/xinference
        prompt_template:
        - id: 1df80b71-8404-4139-bb5a-8ef036c3c1e3
          role: system
          text: '# 以下是一个中医领域知识图谱的图Schema：

            {{#conversation.schema#}}



            # 请你根据所提供的图Schema，针对用户所给出的问题，完成以下任务：

            1. 首先判断该知识图谱是否存储了能够帮助解决用户所给出问题的知识。如果是，则进入下一步判断；反之，请直接返回：**无法回答**。

            2. 若上一步判断得出该知识图谱确实存储了能够帮助解决用户所给出问题的知识，则进一步判断用户所给出的问题能否通过单跳检索找到答案。如果可以，请直接返回：**直接回答**；反之，若问题需要通过多跳检索才能定位到最终答案，请仔细思考第一步所要解决的子问题，然后直接输出该子问题。


            # 要求：

            直接输出指定内容即可，不要解释原因，不要输出任何其他文字。'
        - id: 5c6118e7-77df-447c-b0f4-b529e119152f
          role: user
          text: '# 以下是一道待解决的中医选择题：

            ```

            {{#17585463115430.question#}}

            ```


            请按要求完成指定任务。'
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 1000
        selected: false
        structured_output_enabled: false
        title: 问题分析
        type: llm
        variables: []
        vision:
          enabled: false
      height: 120
      id: '1758537397622'
      position:
        x: 1457
        y: 699
      positionAbsolute:
        x: 1457
        y: 699
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "import re\n\ndef main(prompt: str):\n    tmp = re.search(r'病案内容：\\\
          n(.+)请按照以下格式进行回答：', prompt, re.DOTALL)\n    question = tmp.group(1).strip()\n\
          \    return {\"question\": question}"
        code_language: python3
        desc: ''
        outputs:
          question:
            children: null
            type: string
        selected: false
        title: 问题抽取
        type: code
        variables:
        - value_selector:
          - sys
          - query
          value_type: string
          variable: prompt
      height: 54
      id: '1758545877413'
      position:
        x: 789
        y: 273
      positionAbsolute:
        x: 789
        y: 273
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "import re\n\ndef main(prompt: str):\n    tmp = re.search(r'问题：(.+)选项：',\
          \ prompt, re.DOTALL)\n    question = tmp.group(1).strip()\n    tmp = re.search(r'选项：(.+)要求：',\
          \ prompt, re.DOTALL)\n    choices = tmp.group(1).strip()\n    return {\"\
          question\": question+'\\n'+choices}"
        code_language: python3
        desc: ''
        outputs:
          question:
            children: null
            type: string
        selected: false
        title: 问题抽取
        type: code
        variables:
        - value_selector:
          - sys
          - query
          value_type: string
          variable: prompt
      height: 54
      id: '17585463115430'
      position:
        x: 1123
        y: 777
      positionAbsolute:
        x: 1123
        y: 777
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-750
            key: ''
            type: text
            value: "{\n    \"model\": \"Qwen3-Embedding-4B\",\n    \"input\": {{#1758545877413.question#}}\n\
              \  }"
          type: json
        desc: ''
        headers: 'accept:application/json

          Content-Type:application/json'
        method: POST
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: '100'
        selected: false
        ssl_verify: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: Embedding生成
        type: http-request
        url: http://{{#env.host#}}:9997/v1/embeddings
        variables: []
      height: 144
      id: '1758547736419'
      position:
        x: 1123
        y: 273
      positionAbsolute:
        x: 1123
        y: 273
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "import json\n\ndef main(body: str):\n    tmp = json.loads(body)\n \
          \   embedding = tmp['data'][0]['embedding']\n    return {\"embedding\":\
          \ json.dumps(embedding)}"
        code_language: python3
        desc: ''
        outputs:
          embedding:
            children: null
            type: string
        selected: false
        title: embedding提取
        type: code
        variables:
        - value_selector:
          - '1758547736419'
          - body
          value_type: string
          variable: body
      height: 54
      id: '1758552360172'
      position:
        x: 1457
        y: 273
      positionAbsolute:
        x: 1457
        y: 273
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "import json\n\ndef main(result: list):\n    tmp = result[0]['results']\n\
          \    similar_cases = \"\"\n    for item in tmp:\n        case_info = json.loads(item['full_case'])\n\
          \        for k, v in case_info.items():\n            similar_cases += '【'\
          \ + k + '】\\n' + v + '\\n'\n        similar_cases += '\\n'\n    return {\"\
          similar_cases\": similar_cases[: -2]}"
        code_language: python3
        desc: ''
        outputs:
          similar_cases:
            children: null
            type: string
        selected: false
        title: 相似医案提取
        type: code
        variables:
        - value_selector:
          - '1758632791188'
          - json
          value_type: array[object]
          variable: result
      height: 54
      id: '17585530854570'
      position:
        x: 2125
        y: 273
      positionAbsolute:
        x: 2125
        y: 273
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: 967f8ef4-30a9-4998-a628-c800bd9ea2f6
            value: 无法回答
            varType: string
            variable_selector:
            - '1758771815078'
            - model_output
          id: 'true'
          logical_operator: and
        - case_id: e25299cc-6f06-4e23-b069-1477c95211db
          conditions:
          - comparison_operator: contains
            id: 4a214f7f-8d15-49d1-9213-85f9c71eed56
            value: 直接回答
            varType: string
            variable_selector:
            - '1758771815078'
            - model_output
          id: e25299cc-6f06-4e23-b069-1477c95211db
          logical_operator: and
        desc: ''
        selected: false
        title: 条件分支
        type: if-else
      height: 174
      id: '1758560742860'
      position:
        x: 2125
        y: 672
      positionAbsolute:
        x: 2125
        y: 672
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            max_tokens: 4096
            temperature: 0.6
          mode: chat
          name: Qwen3-8B
          provider: langgenius/xinference/xinference
        prompt_template:
        - id: eb491b52-92c4-423f-acec-76a932676eaf
          role: system
          text: ''
        - id: 31e81913-10a6-4676-850a-9bc8beba4290
          role: user
          text: '{{#sys.query#}}'
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 1000
        selected: false
        title: 回答
        type: llm
        variables: []
        vision:
          enabled: false
      height: 120
      id: '1758560836375'
      position:
        x: 2793
        y: 418
      positionAbsolute:
        x: 2793
        y: 418
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1758560836375.text#}}'
        desc: ''
        selected: false
        title: ANSWER
        type: answer
        variables: []
      height: 105
      id: '1758560906719'
      position:
        x: 3127
        y: 425.5
      positionAbsolute:
        x: 3127
        y: 425.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-835
            key: ''
            type: text
            value: "{\n    \"model\": \"Qwen3-Embedding-4B\",\n    \"input\": {{#17585463115430.question#}}\n\
              \  }"
          type: json
        desc: ''
        headers: 'accept:application/json

          Content-Type:application/json'
        method: POST
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: '100'
        selected: false
        ssl_verify: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: Embedding生成
        type: http-request
        url: http://{{#env.host#}}:9997/v1/embeddings
        variables: []
      height: 144
      id: '17585610125610'
      position:
        x: 3127
        y: 570.5
      positionAbsolute:
        x: 3127
        y: 570.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "import json\n\ndef main(result: list):\n    tmp = result[0]['results']\n\
          \    useful_triples = []\n    for item in tmp:\n        triple = json.loads(item['triple'])\n\
          \        useful_triples.append(triple)\n    return {\"useful_triples\":\
          \ json.dumps(useful_triples, ensure_ascii=False, indent=2)}"
        code_language: python3
        desc: ''
        outputs:
          useful_triples:
            children: null
            type: string
        selected: false
        title: 相关三元组提取
        type: code
        variables:
        - value_selector:
          - '17586411911160'
          - json
          value_type: array[object]
          variable: result
      height: 54
      id: '17585620519950'
      position:
        x: 8028
        y: 590
      positionAbsolute:
        x: 8028
        y: 590
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            max_tokens: 8192
            temperature: 0.6
          mode: chat
          name: Qwen3-8B
          provider: langgenius/xinference/xinference
        prompt_template:
        - id: 24d18d3d-3775-4a7a-844a-89fa896e79da
          role: system
          text: '你是一个在中医领域拥有丰富知识的专家。现在，请你参考所提供的问题相关三元组和相关实体的信息，完成指定任务。


            **注意：** 所提供的相关三元组及相关实体有限，并不能完全涵盖解决问题所需的全部知识。此外，其中的信息也并非都与问题密切相关。你需要根据自己的理解，结合具体问题，合理利用蕴含在这些相关三元组及相关实体中的知识，并最终完成指定任务。'
        - id: 7c90d39f-805e-4718-bcc5-7b2fb6cc1c35
          role: user
          text: '# 以下是十个可能对问题的解决有帮助的实体：

            ```json

            {{#17586426650580.useful_entities#}}

            ```


            # 以下是十个可能对问题的解决有帮助的三元组：

            ```json

            {{#17585620519950.useful_triples#}}

            ```


            # {{#sys.query#}}'
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 1000
        selected: true
        title: 回答
        type: llm
        variables: []
        vision:
          enabled: false
      height: 120
      id: '17585622572470'
      position:
        x: 8362
        y: 590
      positionAbsolute:
        x: 8362
        y: 590
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#17585622572470.text#}}'
        desc: ''
        selected: false
        title: ANSWER
        type: answer
        variables: []
      height: 105
      id: '1758562332651'
      position:
        x: 8696
        y: 590
      positionAbsolute:
        x: 8696
        y: 590
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        break_conditions:
        - comparison_operator: contains
          id: df6d0d04-ba2a-482b-9867-2a62d08853ad
          value: 最终答案
          varType: string
          variable_selector:
          - '1758562758867'
          - current
        desc: ''
        error_handle_mode: terminated
        height: 452
        logical_operator: and
        loop_count: 3
        loop_variables:
        - id: 8b6b8d8b-ea47-4aa3-99df-03dfffffefd6
          label: history
          value:
          - conversation
          - default_history
          value_type: variable
          var_type: string
        - id: a3dee9f1-24bd-4649-a493-17351d0db8b1
          label: current
          value:
          - '1758771815078'
          - model_output
          value_type: variable
          var_type: string
        selected: false
        start_node_id: 1758562758867start
        title: 循环
        type: loop
        width: 4143
      height: 452
      id: '1758562758867'
      position:
        x: 3461
        y: 753
      positionAbsolute:
        x: 3461
        y: 753
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 4143
      zIndex: 1
    - data:
        desc: ''
        isInLoop: true
        selected: false
        title: ''
        type: loop-start
      draggable: false
      height: 48
      id: 1758562758867start
      parentId: '1758562758867'
      position:
        x: 60
        y: 109
      positionAbsolute:
        x: 3521
        y: 862
      selectable: false
      sourcePosition: right
      targetPosition: left
      type: custom-loop-start
      width: 44
      zIndex: 1002
    - data:
        code: "def main(question: str):\n    return {\"query\": question.strip()}"
        code_language: python3
        desc: ''
        isInIteration: false
        isInLoop: true
        loop_id: '1758562758867'
        outputs:
          query:
            children: null
            type: string
        selected: false
        title: 组织query
        type: code
        variables:
        - value_selector:
          - '1758562758867'
          - current
          value_type: string
          variable: question
      height: 54
      id: '1758562922951'
      parentId: '1758562758867'
      position:
        x: 204
        y: 106
      positionAbsolute:
        x: 3665
        y: 859
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      zIndex: 1002
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-960
            key: ''
            type: text
            value: "{\n    \"model\": \"Qwen3-Embedding-4B\",\n    \"input\": {{#1758562922951.query#}}\n\
              \  }"
          type: json
        desc: ''
        headers: 'accept:application/json

          Content-Type:application/json'
        isInIteration: false
        isInLoop: true
        loop_id: '1758562758867'
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: '100'
        selected: false
        ssl_verify: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: Embedding生成
        type: http-request
        url: http://{{#env.host#}}:9997/v1/embeddings
        variables: []
      height: 144
      id: '1758562989947'
      parentId: '1758562758867'
      position:
        x: 508
        y: 61
      positionAbsolute:
        x: 3969
        y: 814
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      zIndex: 1002
    - data:
        code: "import json\n\ndef main(body: str):\n    tmp = json.loads(body)\n \
          \   embedding = tmp['data'][0]['embedding']\n    return {\"embedding\":\
          \ json.dumps(embedding)}"
        code_language: python3
        desc: ''
        isInIteration: false
        isInLoop: true
        loop_id: '1758562758867'
        outputs:
          embedding:
            children: null
            type: string
        selected: false
        title: embedding提取
        type: code
        variables:
        - value_selector:
          - '1758562989947'
          - body
          value_type: string
          variable: body
      height: 54
      id: '1758563148923'
      parentId: '1758562758867'
      position:
        x: 812
        y: 106
      positionAbsolute:
        x: 4273
        y: 859
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      zIndex: 1002
    - data:
        code: "import json\n\ndef main(result: list):\n    tmp = result[0]['results']\n\
          \    useful_triples = []\n    for item in tmp:\n        triple = json.loads(item['triple'])\n\
          \        useful_triples.append(triple)\n    return {\"useful_triples\":\
          \ json.dumps(useful_triples, ensure_ascii=False, indent=2)}"
        code_language: python3
        desc: ''
        isInIteration: false
        isInLoop: true
        loop_id: '1758562758867'
        outputs:
          useful_triples:
            children: null
            type: string
        selected: false
        title: 相关三元组提取
        type: code
        variables:
        - value_selector:
          - '1758643832137'
          - json
          value_type: array[object]
          variable: result
      height: 54
      id: '1758563375302'
      parentId: '1758562758867'
      position:
        x: 1420
        y: 106
      positionAbsolute:
        x: 4881
        y: 859
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      zIndex: 1002
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        isInIteration: false
        isInLoop: true
        loop_id: '1758562758867'
        model:
          completion_params:
            max_tokens: 8192
            temperature: 0.6
          mode: chat
          name: Qwen3-8B
          provider: langgenius/xinference/xinference
        prompt_template:
        - id: 13d1bfde-eb21-4d46-8216-10e7f413a660
          role: system
          text: '你是一个在中医领域拥有丰富知识的专家。现在，请你参考所提供的问题相关三元组和相关实体的信息，回答指定问题。


            **注意：** 所提供的相关三元组及相关实体有限，并不能完全涵盖解决问题所需的全部知识。此外，其中的信息也并非都与问题密切相关。你需要根据自己的理解，结合具体问题，合理利用蕴含在这些相关三元组及相关实体中的知识，并最终完成指定任务。


            **要求：** 直接输出最终答案即可，不要解释原因，不要输出任何其他文字。'
        - id: 14551a08-3490-41f9-a1e8-d06abf8d6579
          role: user
          text: '# 以下是十个可能对问题的解决有帮助的实体：

            ```json

            {{#1758643999274.useful_entities#}}

            ```


            # 以下是十个可能对问题的解决有帮助的三元组：

            ```json

            {{#1758563375302.useful_triples#}}

            ```


            # 以下是一个待解决的中医问题

            ```

            {{#1758562758867.current#}}

            ```'
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 1000
        selected: false
        title: 子问题回答
        type: llm
        variables: []
        vision:
          enabled: false
      height: 120
      id: '1758563465383'
      parentId: '1758562758867'
      position:
        x: 1724
        y: 73
      positionAbsolute:
        x: 5185
        y: 826
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      zIndex: 1002
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        isInIteration: false
        isInLoop: true
        loop_id: '1758562758867'
        model:
          completion_params:
            max_tokens: 8192
            temperature: 0.6
          mode: chat
          name: Qwen3-8B
          provider: langgenius/xinference/xinference
        prompt_template:
        - id: 74f2883d-58ed-4f29-9d64-abcdcf98764a
          role: system
          text: '你是一个在中医领域拥有丰富知识的专家。现在，请你基于已经被解答的子问题及其答案，分析是否已经具备回答用户所提问题的充足知识。

            当你认为当前知识已足够支撑问题的解答时，以**最终答案是：**起头，后接你的答案，作为最终输出；反之，若你认为仍需进一步深入挖掘方能解决该用户提问时，请你结合所提供的图Schema，仔细思考下一步所要解决的单跳子问题，然后直接输出该子问题。


            **要求：** 按任务需求直接输出相应内容即可，不要解释原因，不要输出任何其他文字。'
        - id: 6d3f10c9-c7ea-4dea-8387-bd34b9788e1f
          role: user
          text: '# 以下是一个中医领域知识图谱的图Schema：

            {{#conversation.schema#}}



            # 以下是当前已经得到解决的子问题：

            ```

            {{#1758562758867.history#}}

            ```


            # {{#sys.query#}}'
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 1000
        selected: false
        title: 回答
        type: llm
        variables: []
        vision:
          enabled: false
      height: 120
      id: '1758563857719'
      parentId: '1758562758867'
      position:
        x: 2636
        y: 71.57142857142856
      positionAbsolute:
        x: 6097
        y: 824.5714285714286
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      zIndex: 1002
    - data:
        answer: '{{#1758562758867.current#}}'
        desc: ''
        selected: false
        title: ANSWER
        type: answer
        variables: []
      height: 105
      id: '1758564079267'
      position:
        x: 8362
        y: 837
      positionAbsolute:
        x: 8362
        y: 837
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        isInIteration: false
        isInLoop: true
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1758564246986'
          - new_question
          variable_selector:
          - '1758562758867'
          - current
          write_mode: over-write
        loop_id: '1758562758867'
        selected: false
        title: 变量更新
        type: assigner
        version: '2'
      height: 86
      id: '1758564167661'
      parentId: '1758562758867'
      position:
        x: 3244
        y: 90
      positionAbsolute:
        x: 6705
        y: 843
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      zIndex: 1002
    - data:
        code: "import re\r\n\r\ndef main(answer: str):\r\n    answer = re.sub(r\"\
          <think>.*?</think>\", \"\", answer, flags=re.DOTALL)\r\n    answer = re.sub(r\"\
          ^(.*?)</think>\", \"\", answer, flags=re.DOTALL)\r\n    return {\"new_question\"\
          : answer.strip()}"
        code_language: python3
        desc: ''
        isInIteration: false
        isInLoop: true
        loop_id: '1758562758867'
        outputs:
          new_question:
            children: null
            type: string
        selected: false
        title: 组织变量内容
        type: code
        variables:
        - value_selector:
          - '1758563857719'
          - text
          value_type: string
          variable: answer
      height: 54
      id: '1758564246986'
      parentId: '1758562758867'
      position:
        x: 2940
        y: 106
      positionAbsolute:
        x: 6401
        y: 859
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      zIndex: 1002
    - data:
        code: "import re\n\ndef main(answer: str, history: str, current: str):\n \
          \   answer = re.sub(r\"<think>.*?</think>\", \"\", answer, flags=re.DOTALL)\n\
          \    answer = re.sub(r\"^(.*?)</think>\", \"\", answer, flags=re.DOTALL)\n\
          \    answer = answer.strip()\n    updated_history = history\n    if not\
          \ history:\n        history += '\\n'\n    updated_history += f\"【问题】：\\\
          n{current}\\n【回答】：\\n{answer}\\n\"\n    return {\"updated_history\": updated_history}"
        code_language: python3
        desc: ''
        isInIteration: false
        isInLoop: true
        loop_id: '1758562758867'
        outputs:
          updated_history:
            children: null
            type: string
        selected: false
        title: 组织变量内容
        type: code
        variables:
        - value_selector:
          - '1758563465383'
          - text
          value_type: string
          variable: answer
        - value_selector:
          - '1758562758867'
          - history
          value_type: string
          variable: history
        - value_selector:
          - '1758562758867'
          - current
          value_type: string
          variable: current
      height: 54
      id: '1758565236664'
      parentId: '1758562758867'
      position:
        x: 2028
        y: 106
      positionAbsolute:
        x: 5489
        y: 859
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      zIndex: 1002
    - data:
        desc: ''
        isInIteration: false
        isInLoop: true
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1758565236664'
          - updated_history
          variable_selector:
          - '1758562758867'
          - history
          write_mode: over-write
        loop_id: '1758562758867'
        selected: false
        title: 变量更新
        type: assigner
        version: '2'
      height: 86
      id: '1758565272979'
      parentId: '1758562758867'
      position:
        x: 2332
        y: 90
      positionAbsolute:
        x: 5793
        y: 843
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      zIndex: 1002
    - data:
        desc: ''
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The name of the collection to search in
            ja_JP: The name of the collection to search in
            pt_BR: O nome da coleção para pesquisar
            zh_Hans: 要搜索的集合名称
          label:
            en_US: Collection Name
            ja_JP: Collection Name
            pt_BR: Nome da Coleção
            zh_Hans: 集合名称
          llm_description: The name of the collection to perform vector search in
          max: null
          min: null
          name: collection_name
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The query vector as JSON array (e.g., [0.1, 0.2, 0.3])
            ja_JP: The query vector as JSON array (e.g., [0.1, 0.2, 0.3])
            pt_BR: 'O vetor de consulta como array JSON (ex: [0.1, 0.2, 0.3])'
            zh_Hans: 查询向量，JSON数组格式（例如：[0.1, 0.2, 0.3]）
          label:
            en_US: Query Vector
            ja_JP: Query Vector
            pt_BR: Vetor de Consulta
            zh_Hans: 查询向量
          llm_description: The query vector as a JSON array of numbers for similarity
            search
          max: null
          min: null
          name: query_vector
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: 10
          form: llm
          human_description:
            en_US: Maximum number of results to return (1-1000)
            ja_JP: Maximum number of results to return (1-1000)
            pt_BR: Número máximo de resultados a retornar (1-1000)
            zh_Hans: 返回的最大结果数量（1-1000）
          label:
            en_US: Result Limit
            ja_JP: Result Limit
            pt_BR: Limite de Resultados
            zh_Hans: 结果限制
          llm_description: 'Maximum number of search results to return (1-1000, default:
            10)'
          max: null
          min: null
          name: limit
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Comma-separated list of fields to return (e.g., 'field1,field2')
            ja_JP: Comma-separated list of fields to return (e.g., 'field1,field2')
            pt_BR: 'Lista de campos separados por vírgula para retornar (ex: ''field1,field2'')'
            zh_Hans: 要返回的字段列表，用逗号分隔（例如：'field1,field2'）
          label:
            en_US: Output Fields
            ja_JP: Output Fields
            pt_BR: Campos de Saída
            zh_Hans: 输出字段
          llm_description: Comma-separated list of fields to include in search results
          max: null
          min: null
          name: output_fields
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Filter expression for scalar fields (e.g., 'age > 18 and status
              == "active"')
            ja_JP: Filter expression for scalar fields (e.g., 'age > 18 and status
              == "active"')
            pt_BR: 'Expressão de filtro para campos escalares (ex: ''age > 18 and
              status == "active"'')'
            zh_Hans: 标量字段的过滤表达式（例如：'age > 18 and status == "active"'）
          label:
            en_US: Filter Expression
            ja_JP: Filter Expression
            pt_BR: Expressão de Filtro
            zh_Hans: 过滤表达式
          llm_description: Boolean expression for filtering results based on scalar
            fields
          max: null
          min: null
          name: filter
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: vector
          form: llm
          human_description:
            en_US: The name of the vector field to search against. Defaults to 'vector'
              if not provided.
            ja_JP: The name of the vector field to search against. Defaults to 'vector'
              if not provided.
            pt_BR: O nome do campo vetorial para pesquisar. O padrão é 'vector' se
              não for fornecido.
            zh_Hans: 要进行搜索的向量字段的名称。如果未提供，则默认为 'vector'。
          label:
            en_US: Vector Field Name
            ja_JP: Vector Field Name
            pt_BR: Nome do Campo Vetorial
            zh_Hans: 向量字段名称
          llm_description: The name of the vector field for similarity search. Defaults
            to 'vector' if not specified.
          max: null
          min: null
          name: anns_field
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: Distance metric type for similarity calculation
            ja_JP: Distance metric type for similarity calculation
            pt_BR: Tipo de métrica de distância para cálculo de similaridade
            zh_Hans: 用于相似度计算的距离度量类型
          label:
            en_US: Metric Type
            ja_JP: Metric Type
            pt_BR: Tipo de Métrica
            zh_Hans: 距离度量类型
          llm_description: 'Distance metric type: COSINE, L2, or IP'
          max: null
          min: null
          name: metric_type
          options:
          - icon: ''
            label:
              en_US: Cosine Similarity
              ja_JP: Cosine Similarity
              pt_BR: Similaridade Cosseno
              zh_Hans: 余弦相似度
            value: COSINE
          - icon: ''
            label:
              en_US: Euclidean Distance
              ja_JP: Euclidean Distance
              pt_BR: Distância Euclidiana
              zh_Hans: 欧几里得距离
            value: L2
          - icon: ''
            label:
              en_US: Inner Product
              ja_JP: Inner Product
              pt_BR: Produto Interno
              zh_Hans: 内积
            value: IP
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: 1
          form: form
          human_description:
            en_US: Search precision level (1-5, higher means more accurate but slower)
            ja_JP: Search precision level (1-5, higher means more accurate but slower)
            pt_BR: Nível de precisão da busca (1-5, maior significa mais preciso mas
              mais lento)
            zh_Hans: 搜索精度级别（1-5，越高越准确但越慢）
          label:
            en_US: Search Level
            ja_JP: Search Level
            pt_BR: Nível de Busca
            zh_Hans: 搜索级别
          llm_description: Search precision level from 1 to 5 (higher values provide
            better recall but slower performance)
          max: null
          min: null
          name: level
          options:
          - icon: ''
            label:
              en_US: Level 1 (Fastest)
              ja_JP: Level 1 (Fastest)
              pt_BR: Nível 1 (Mais Rápido)
              zh_Hans: 级别1（最快）
            value: '1'
          - icon: ''
            label:
              en_US: Level 2
              ja_JP: Level 2
              pt_BR: Nível 2
              zh_Hans: 级别2
            value: '2'
          - icon: ''
            label:
              en_US: Level 3
              ja_JP: Level 3
              pt_BR: Nível 3
              zh_Hans: 级别3
            value: '3'
          - icon: ''
            label:
              en_US: Level 4
              ja_JP: Level 4
              pt_BR: Nível 4
              zh_Hans: 级别4
            value: '4'
          - icon: ''
            label:
              en_US: Level 5 (Most Accurate)
              ja_JP: Level 5 (Most Accurate)
              pt_BR: Nível 5 (Mais Preciso)
              zh_Hans: 级别5（最准确）
            value: '5'
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Minimum similarity threshold for range search
            ja_JP: Minimum similarity threshold for range search
            pt_BR: Limite mínimo de similaridade para busca por intervalo
            zh_Hans: 范围搜索的最小相似度阈值
          label:
            en_US: Search Radius
            ja_JP: Search Radius
            pt_BR: Raio de Busca
            zh_Hans: 搜索半径
          llm_description: Minimum similarity threshold for range search (used with
            range_filter)
          max: null
          min: null
          name: radius
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Maximum similarity threshold for range search
            ja_JP: Maximum similarity threshold for range search
            pt_BR: Limite máximo de similaridade para busca por intervalo
            zh_Hans: 范围搜索的最大相似度阈值
          label:
            en_US: Range Filter
            ja_JP: Range Filter
            pt_BR: Filtro de Intervalo
            zh_Hans: 范围过滤器
          llm_description: Maximum similarity threshold for range search (used with
            radius)
          max: null
          min: null
          name: range_filter
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: 'Additional search parameters as JSON (e.g., ''{"nprobe": 16}'')'
            ja_JP: 'Additional search parameters as JSON (e.g., ''{"nprobe": 16}'')'
            pt_BR: 'Parâmetros de busca adicionais como JSON (ex: ''{"nprobe": 16}'')'
            zh_Hans: '额外的搜索参数，JSON格式（例如：''{"nprobe": 16}''）'
          label:
            en_US: Advanced Search Parameters
            ja_JP: Advanced Search Parameters
            pt_BR: Parâmetros Avançados de Busca
            zh_Hans: 高级搜索参数
          llm_description: Additional search parameters as JSON object for fine-tuning
            search behavior
          max: null
          min: null
          name: search_params
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        params:
          anns_field: ''
          collection_name: ''
          filter: ''
          level: ''
          limit: ''
          metric_type: ''
          output_fields: ''
          query_vector: ''
          radius: ''
          range_filter: ''
          search_params: ''
        provider_id: zeroz-lab/milvus/milvus
        provider_name: zeroz-lab/milvus/milvus
        provider_type: builtin
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: '100'
        selected: false
        title: Milvus 向量搜索
        tool_configurations:
          level:
            type: constant
            value: '5'
          metric_type:
            type: constant
            value: COSINE
        tool_description: 在 Milvus 集合中执行向量相似度搜索
        tool_label: Milvus 向量搜索
        tool_name: milvus_search
        tool_node_version: '2'
        tool_parameters:
          anns_field:
            type: mixed
            value: embedding
          collection_name:
            type: mixed
            value: medical_cases
          filter:
            type: mixed
            value: null
          limit:
            type: constant
            value: 3
          output_fields:
            type: mixed
            value: full_case
          query_vector:
            type: mixed
            value: '{{#1758552360172.embedding#}}'
          radius:
            type: constant
            value: null
          range_filter:
            type: constant
            value: null
          search_params:
            type: mixed
            value: null
        type: tool
      height: 146
      id: '1758632791188'
      position:
        x: 1791
        y: 273
      positionAbsolute:
        x: 1791
        y: 273
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "import json\n\ndef main(body: str):\n    tmp = json.loads(body)\n \
          \   embedding = tmp['data'][0]['embedding']\n    return {\"embedding\":\
          \ json.dumps(embedding)}"
        code_language: python3
        desc: ''
        outputs:
          embedding:
            children: null
            type: string
        selected: false
        title: embedding提取
        type: code
        variables:
        - value_selector:
          - '17585610125610'
          - body
          value_type: string
          variable: body
      height: 54
      id: '17586404785210'
      position:
        x: 5410.5
        y: 590
      positionAbsolute:
        x: 5410.5
        y: 590
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The name of the collection to search in
            ja_JP: The name of the collection to search in
            pt_BR: O nome da coleção para pesquisar
            zh_Hans: 要搜索的集合名称
          label:
            en_US: Collection Name
            ja_JP: Collection Name
            pt_BR: Nome da Coleção
            zh_Hans: 集合名称
          llm_description: The name of the collection to perform vector search in
          max: null
          min: null
          name: collection_name
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The query vector as JSON array (e.g., [0.1, 0.2, 0.3])
            ja_JP: The query vector as JSON array (e.g., [0.1, 0.2, 0.3])
            pt_BR: 'O vetor de consulta como array JSON (ex: [0.1, 0.2, 0.3])'
            zh_Hans: 查询向量，JSON数组格式（例如：[0.1, 0.2, 0.3]）
          label:
            en_US: Query Vector
            ja_JP: Query Vector
            pt_BR: Vetor de Consulta
            zh_Hans: 查询向量
          llm_description: The query vector as a JSON array of numbers for similarity
            search
          max: null
          min: null
          name: query_vector
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: 10
          form: llm
          human_description:
            en_US: Maximum number of results to return (1-1000)
            ja_JP: Maximum number of results to return (1-1000)
            pt_BR: Número máximo de resultados a retornar (1-1000)
            zh_Hans: 返回的最大结果数量（1-1000）
          label:
            en_US: Result Limit
            ja_JP: Result Limit
            pt_BR: Limite de Resultados
            zh_Hans: 结果限制
          llm_description: 'Maximum number of search results to return (1-1000, default:
            10)'
          max: null
          min: null
          name: limit
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Comma-separated list of fields to return (e.g., 'field1,field2')
            ja_JP: Comma-separated list of fields to return (e.g., 'field1,field2')
            pt_BR: 'Lista de campos separados por vírgula para retornar (ex: ''field1,field2'')'
            zh_Hans: 要返回的字段列表，用逗号分隔（例如：'field1,field2'）
          label:
            en_US: Output Fields
            ja_JP: Output Fields
            pt_BR: Campos de Saída
            zh_Hans: 输出字段
          llm_description: Comma-separated list of fields to include in search results
          max: null
          min: null
          name: output_fields
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Filter expression for scalar fields (e.g., 'age > 18 and status
              == "active"')
            ja_JP: Filter expression for scalar fields (e.g., 'age > 18 and status
              == "active"')
            pt_BR: 'Expressão de filtro para campos escalares (ex: ''age > 18 and
              status == "active"'')'
            zh_Hans: 标量字段的过滤表达式（例如：'age > 18 and status == "active"'）
          label:
            en_US: Filter Expression
            ja_JP: Filter Expression
            pt_BR: Expressão de Filtro
            zh_Hans: 过滤表达式
          llm_description: Boolean expression for filtering results based on scalar
            fields
          max: null
          min: null
          name: filter
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: vector
          form: llm
          human_description:
            en_US: The name of the vector field to search against. Defaults to 'vector'
              if not provided.
            ja_JP: The name of the vector field to search against. Defaults to 'vector'
              if not provided.
            pt_BR: O nome do campo vetorial para pesquisar. O padrão é 'vector' se
              não for fornecido.
            zh_Hans: 要进行搜索的向量字段的名称。如果未提供，则默认为 'vector'。
          label:
            en_US: Vector Field Name
            ja_JP: Vector Field Name
            pt_BR: Nome do Campo Vetorial
            zh_Hans: 向量字段名称
          llm_description: The name of the vector field for similarity search. Defaults
            to 'vector' if not specified.
          max: null
          min: null
          name: anns_field
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: Distance metric type for similarity calculation
            ja_JP: Distance metric type for similarity calculation
            pt_BR: Tipo de métrica de distância para cálculo de similaridade
            zh_Hans: 用于相似度计算的距离度量类型
          label:
            en_US: Metric Type
            ja_JP: Metric Type
            pt_BR: Tipo de Métrica
            zh_Hans: 距离度量类型
          llm_description: 'Distance metric type: COSINE, L2, or IP'
          max: null
          min: null
          name: metric_type
          options:
          - icon: ''
            label:
              en_US: Cosine Similarity
              ja_JP: Cosine Similarity
              pt_BR: Similaridade Cosseno
              zh_Hans: 余弦相似度
            value: COSINE
          - icon: ''
            label:
              en_US: Euclidean Distance
              ja_JP: Euclidean Distance
              pt_BR: Distância Euclidiana
              zh_Hans: 欧几里得距离
            value: L2
          - icon: ''
            label:
              en_US: Inner Product
              ja_JP: Inner Product
              pt_BR: Produto Interno
              zh_Hans: 内积
            value: IP
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: 1
          form: form
          human_description:
            en_US: Search precision level (1-5, higher means more accurate but slower)
            ja_JP: Search precision level (1-5, higher means more accurate but slower)
            pt_BR: Nível de precisão da busca (1-5, maior significa mais preciso mas
              mais lento)
            zh_Hans: 搜索精度级别（1-5，越高越准确但越慢）
          label:
            en_US: Search Level
            ja_JP: Search Level
            pt_BR: Nível de Busca
            zh_Hans: 搜索级别
          llm_description: Search precision level from 1 to 5 (higher values provide
            better recall but slower performance)
          max: null
          min: null
          name: level
          options:
          - icon: ''
            label:
              en_US: Level 1 (Fastest)
              ja_JP: Level 1 (Fastest)
              pt_BR: Nível 1 (Mais Rápido)
              zh_Hans: 级别1（最快）
            value: '1'
          - icon: ''
            label:
              en_US: Level 2
              ja_JP: Level 2
              pt_BR: Nível 2
              zh_Hans: 级别2
            value: '2'
          - icon: ''
            label:
              en_US: Level 3
              ja_JP: Level 3
              pt_BR: Nível 3
              zh_Hans: 级别3
            value: '3'
          - icon: ''
            label:
              en_US: Level 4
              ja_JP: Level 4
              pt_BR: Nível 4
              zh_Hans: 级别4
            value: '4'
          - icon: ''
            label:
              en_US: Level 5 (Most Accurate)
              ja_JP: Level 5 (Most Accurate)
              pt_BR: Nível 5 (Mais Preciso)
              zh_Hans: 级别5（最准确）
            value: '5'
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Minimum similarity threshold for range search
            ja_JP: Minimum similarity threshold for range search
            pt_BR: Limite mínimo de similaridade para busca por intervalo
            zh_Hans: 范围搜索的最小相似度阈值
          label:
            en_US: Search Radius
            ja_JP: Search Radius
            pt_BR: Raio de Busca
            zh_Hans: 搜索半径
          llm_description: Minimum similarity threshold for range search (used with
            range_filter)
          max: null
          min: null
          name: radius
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Maximum similarity threshold for range search
            ja_JP: Maximum similarity threshold for range search
            pt_BR: Limite máximo de similaridade para busca por intervalo
            zh_Hans: 范围搜索的最大相似度阈值
          label:
            en_US: Range Filter
            ja_JP: Range Filter
            pt_BR: Filtro de Intervalo
            zh_Hans: 范围过滤器
          llm_description: Maximum similarity threshold for range search (used with
            radius)
          max: null
          min: null
          name: range_filter
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: 'Additional search parameters as JSON (e.g., ''{"nprobe": 16}'')'
            ja_JP: 'Additional search parameters as JSON (e.g., ''{"nprobe": 16}'')'
            pt_BR: 'Parâmetros de busca adicionais como JSON (ex: ''{"nprobe": 16}'')'
            zh_Hans: '额外的搜索参数，JSON格式（例如：''{"nprobe": 16}''）'
          label:
            en_US: Advanced Search Parameters
            ja_JP: Advanced Search Parameters
            pt_BR: Parâmetros Avançados de Busca
            zh_Hans: 高级搜索参数
          llm_description: Additional search parameters as JSON object for fine-tuning
            search behavior
          max: null
          min: null
          name: search_params
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        params:
          anns_field: ''
          collection_name: ''
          filter: ''
          level: ''
          limit: ''
          metric_type: ''
          output_fields: ''
          query_vector: ''
          radius: ''
          range_filter: ''
          search_params: ''
        provider_id: zeroz-lab/milvus/milvus
        provider_name: zeroz-lab/milvus/milvus
        provider_type: builtin
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: '100'
        selected: false
        title: Milvus 向量搜索
        tool_configurations:
          level:
            type: constant
            value: '5'
          metric_type:
            type: constant
            value: COSINE
        tool_description: 在 Milvus 集合中执行向量相似度搜索
        tool_label: Milvus 向量搜索
        tool_name: milvus_search
        tool_node_version: '2'
        tool_parameters:
          anns_field:
            type: mixed
            value: embedding
          collection_name:
            type: mixed
            value: triples
          filter:
            type: mixed
            value: null
          limit:
            type: constant
            value: 10
          output_fields:
            type: mixed
            value: triple
          query_vector:
            type: mixed
            value: '{{#17586404785210.embedding#}}'
          radius:
            type: constant
            value: null
          range_filter:
            type: constant
            value: null
          search_params:
            type: mixed
            value: null
        type: tool
      height: 146
      id: '17586411911160'
      position:
        x: 7694
        y: 590
      positionAbsolute:
        x: 7694
        y: 590
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The name of the collection to search in
            ja_JP: The name of the collection to search in
            pt_BR: O nome da coleção para pesquisar
            zh_Hans: 要搜索的集合名称
          label:
            en_US: Collection Name
            ja_JP: Collection Name
            pt_BR: Nome da Coleção
            zh_Hans: 集合名称
          llm_description: The name of the collection to perform vector search in
          max: null
          min: null
          name: collection_name
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The query vector as JSON array (e.g., [0.1, 0.2, 0.3])
            ja_JP: The query vector as JSON array (e.g., [0.1, 0.2, 0.3])
            pt_BR: 'O vetor de consulta como array JSON (ex: [0.1, 0.2, 0.3])'
            zh_Hans: 查询向量，JSON数组格式（例如：[0.1, 0.2, 0.3]）
          label:
            en_US: Query Vector
            ja_JP: Query Vector
            pt_BR: Vetor de Consulta
            zh_Hans: 查询向量
          llm_description: The query vector as a JSON array of numbers for similarity
            search
          max: null
          min: null
          name: query_vector
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: 10
          form: llm
          human_description:
            en_US: Maximum number of results to return (1-1000)
            ja_JP: Maximum number of results to return (1-1000)
            pt_BR: Número máximo de resultados a retornar (1-1000)
            zh_Hans: 返回的最大结果数量（1-1000）
          label:
            en_US: Result Limit
            ja_JP: Result Limit
            pt_BR: Limite de Resultados
            zh_Hans: 结果限制
          llm_description: 'Maximum number of search results to return (1-1000, default:
            10)'
          max: null
          min: null
          name: limit
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Comma-separated list of fields to return (e.g., 'field1,field2')
            ja_JP: Comma-separated list of fields to return (e.g., 'field1,field2')
            pt_BR: 'Lista de campos separados por vírgula para retornar (ex: ''field1,field2'')'
            zh_Hans: 要返回的字段列表，用逗号分隔（例如：'field1,field2'）
          label:
            en_US: Output Fields
            ja_JP: Output Fields
            pt_BR: Campos de Saída
            zh_Hans: 输出字段
          llm_description: Comma-separated list of fields to include in search results
          max: null
          min: null
          name: output_fields
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Filter expression for scalar fields (e.g., 'age > 18 and status
              == "active"')
            ja_JP: Filter expression for scalar fields (e.g., 'age > 18 and status
              == "active"')
            pt_BR: 'Expressão de filtro para campos escalares (ex: ''age > 18 and
              status == "active"'')'
            zh_Hans: 标量字段的过滤表达式（例如：'age > 18 and status == "active"'）
          label:
            en_US: Filter Expression
            ja_JP: Filter Expression
            pt_BR: Expressão de Filtro
            zh_Hans: 过滤表达式
          llm_description: Boolean expression for filtering results based on scalar
            fields
          max: null
          min: null
          name: filter
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: vector
          form: llm
          human_description:
            en_US: The name of the vector field to search against. Defaults to 'vector'
              if not provided.
            ja_JP: The name of the vector field to search against. Defaults to 'vector'
              if not provided.
            pt_BR: O nome do campo vetorial para pesquisar. O padrão é 'vector' se
              não for fornecido.
            zh_Hans: 要进行搜索的向量字段的名称。如果未提供，则默认为 'vector'。
          label:
            en_US: Vector Field Name
            ja_JP: Vector Field Name
            pt_BR: Nome do Campo Vetorial
            zh_Hans: 向量字段名称
          llm_description: The name of the vector field for similarity search. Defaults
            to 'vector' if not specified.
          max: null
          min: null
          name: anns_field
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: Distance metric type for similarity calculation
            ja_JP: Distance metric type for similarity calculation
            pt_BR: Tipo de métrica de distância para cálculo de similaridade
            zh_Hans: 用于相似度计算的距离度量类型
          label:
            en_US: Metric Type
            ja_JP: Metric Type
            pt_BR: Tipo de Métrica
            zh_Hans: 距离度量类型
          llm_description: 'Distance metric type: COSINE, L2, or IP'
          max: null
          min: null
          name: metric_type
          options:
          - icon: ''
            label:
              en_US: Cosine Similarity
              ja_JP: Cosine Similarity
              pt_BR: Similaridade Cosseno
              zh_Hans: 余弦相似度
            value: COSINE
          - icon: ''
            label:
              en_US: Euclidean Distance
              ja_JP: Euclidean Distance
              pt_BR: Distância Euclidiana
              zh_Hans: 欧几里得距离
            value: L2
          - icon: ''
            label:
              en_US: Inner Product
              ja_JP: Inner Product
              pt_BR: Produto Interno
              zh_Hans: 内积
            value: IP
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: 1
          form: form
          human_description:
            en_US: Search precision level (1-5, higher means more accurate but slower)
            ja_JP: Search precision level (1-5, higher means more accurate but slower)
            pt_BR: Nível de precisão da busca (1-5, maior significa mais preciso mas
              mais lento)
            zh_Hans: 搜索精度级别（1-5，越高越准确但越慢）
          label:
            en_US: Search Level
            ja_JP: Search Level
            pt_BR: Nível de Busca
            zh_Hans: 搜索级别
          llm_description: Search precision level from 1 to 5 (higher values provide
            better recall but slower performance)
          max: null
          min: null
          name: level
          options:
          - icon: ''
            label:
              en_US: Level 1 (Fastest)
              ja_JP: Level 1 (Fastest)
              pt_BR: Nível 1 (Mais Rápido)
              zh_Hans: 级别1（最快）
            value: '1'
          - icon: ''
            label:
              en_US: Level 2
              ja_JP: Level 2
              pt_BR: Nível 2
              zh_Hans: 级别2
            value: '2'
          - icon: ''
            label:
              en_US: Level 3
              ja_JP: Level 3
              pt_BR: Nível 3
              zh_Hans: 级别3
            value: '3'
          - icon: ''
            label:
              en_US: Level 4
              ja_JP: Level 4
              pt_BR: Nível 4
              zh_Hans: 级别4
            value: '4'
          - icon: ''
            label:
              en_US: Level 5 (Most Accurate)
              ja_JP: Level 5 (Most Accurate)
              pt_BR: Nível 5 (Mais Preciso)
              zh_Hans: 级别5（最准确）
            value: '5'
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Minimum similarity threshold for range search
            ja_JP: Minimum similarity threshold for range search
            pt_BR: Limite mínimo de similaridade para busca por intervalo
            zh_Hans: 范围搜索的最小相似度阈值
          label:
            en_US: Search Radius
            ja_JP: Search Radius
            pt_BR: Raio de Busca
            zh_Hans: 搜索半径
          llm_description: Minimum similarity threshold for range search (used with
            range_filter)
          max: null
          min: null
          name: radius
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Maximum similarity threshold for range search
            ja_JP: Maximum similarity threshold for range search
            pt_BR: Limite máximo de similaridade para busca por intervalo
            zh_Hans: 范围搜索的最大相似度阈值
          label:
            en_US: Range Filter
            ja_JP: Range Filter
            pt_BR: Filtro de Intervalo
            zh_Hans: 范围过滤器
          llm_description: Maximum similarity threshold for range search (used with
            radius)
          max: null
          min: null
          name: range_filter
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: 'Additional search parameters as JSON (e.g., ''{"nprobe": 16}'')'
            ja_JP: 'Additional search parameters as JSON (e.g., ''{"nprobe": 16}'')'
            pt_BR: 'Parâmetros de busca adicionais como JSON (ex: ''{"nprobe": 16}'')'
            zh_Hans: '额外的搜索参数，JSON格式（例如：''{"nprobe": 16}''）'
          label:
            en_US: Advanced Search Parameters
            ja_JP: Advanced Search Parameters
            pt_BR: Parâmetros Avançados de Busca
            zh_Hans: 高级搜索参数
          llm_description: Additional search parameters as JSON object for fine-tuning
            search behavior
          max: null
          min: null
          name: search_params
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        params:
          anns_field: ''
          collection_name: ''
          filter: ''
          level: ''
          limit: ''
          metric_type: ''
          output_fields: ''
          query_vector: ''
          radius: ''
          range_filter: ''
          search_params: ''
        provider_id: zeroz-lab/milvus/milvus
        provider_name: zeroz-lab/milvus/milvus
        provider_type: builtin
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: '100'
        selected: false
        title: Milvus 向量搜索
        tool_configurations:
          level:
            type: constant
            value: '5'
          metric_type:
            type: constant
            value: COSINE
        tool_description: 在 Milvus 集合中执行向量相似度搜索
        tool_label: Milvus 向量搜索
        tool_name: milvus_search
        tool_node_version: '2'
        tool_parameters:
          anns_field:
            type: mixed
            value: embedding
          collection_name:
            type: mixed
            value: entities
          filter:
            type: mixed
            value: null
          limit:
            type: constant
            value: 10
          output_fields:
            type: mixed
            value: entity
          query_vector:
            type: mixed
            value: '{{#17586404785210.embedding#}}'
          radius:
            type: constant
            value: null
          range_filter:
            type: constant
            value: null
          search_params:
            type: mixed
            value: null
        type: tool
      height: 146
      id: '17586416666360'
      position:
        x: 7694
        y: 776
      positionAbsolute:
        x: 7694
        y: 776
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "import json\n\ndef main(result: list):\n    tmp = result[0]['results']\n\
          \    useful_entities = []\n    for item in tmp:\n        entity = json.loads(item['entity'])\n\
          \        useful_entities.append(entity)\n    return {\"useful_entities\"\
          : json.dumps(useful_entities, ensure_ascii=False, indent=2)}"
        code_language: python3
        desc: ''
        outputs:
          useful_entities:
            children: null
            type: string
        selected: false
        title: 相关实体提取
        type: code
        variables:
        - value_selector:
          - '17586416666360'
          - json
          value_type: array[object]
          variable: result
      height: 54
      id: '17586426650580'
      position:
        x: 8028
        y: 776
      positionAbsolute:
        x: 8028
        y: 776
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        isInIteration: false
        isInLoop: true
        is_team_authorization: true
        loop_id: '1758562758867'
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The name of the collection to search in
            ja_JP: The name of the collection to search in
            pt_BR: O nome da coleção para pesquisar
            zh_Hans: 要搜索的集合名称
          label:
            en_US: Collection Name
            ja_JP: Collection Name
            pt_BR: Nome da Coleção
            zh_Hans: 集合名称
          llm_description: The name of the collection to perform vector search in
          max: null
          min: null
          name: collection_name
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The query vector as JSON array (e.g., [0.1, 0.2, 0.3])
            ja_JP: The query vector as JSON array (e.g., [0.1, 0.2, 0.3])
            pt_BR: 'O vetor de consulta como array JSON (ex: [0.1, 0.2, 0.3])'
            zh_Hans: 查询向量，JSON数组格式（例如：[0.1, 0.2, 0.3]）
          label:
            en_US: Query Vector
            ja_JP: Query Vector
            pt_BR: Vetor de Consulta
            zh_Hans: 查询向量
          llm_description: The query vector as a JSON array of numbers for similarity
            search
          max: null
          min: null
          name: query_vector
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: 10
          form: llm
          human_description:
            en_US: Maximum number of results to return (1-1000)
            ja_JP: Maximum number of results to return (1-1000)
            pt_BR: Número máximo de resultados a retornar (1-1000)
            zh_Hans: 返回的最大结果数量（1-1000）
          label:
            en_US: Result Limit
            ja_JP: Result Limit
            pt_BR: Limite de Resultados
            zh_Hans: 结果限制
          llm_description: 'Maximum number of search results to return (1-1000, default:
            10)'
          max: null
          min: null
          name: limit
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Comma-separated list of fields to return (e.g., 'field1,field2')
            ja_JP: Comma-separated list of fields to return (e.g., 'field1,field2')
            pt_BR: 'Lista de campos separados por vírgula para retornar (ex: ''field1,field2'')'
            zh_Hans: 要返回的字段列表，用逗号分隔（例如：'field1,field2'）
          label:
            en_US: Output Fields
            ja_JP: Output Fields
            pt_BR: Campos de Saída
            zh_Hans: 输出字段
          llm_description: Comma-separated list of fields to include in search results
          max: null
          min: null
          name: output_fields
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Filter expression for scalar fields (e.g., 'age > 18 and status
              == "active"')
            ja_JP: Filter expression for scalar fields (e.g., 'age > 18 and status
              == "active"')
            pt_BR: 'Expressão de filtro para campos escalares (ex: ''age > 18 and
              status == "active"'')'
            zh_Hans: 标量字段的过滤表达式（例如：'age > 18 and status == "active"'）
          label:
            en_US: Filter Expression
            ja_JP: Filter Expression
            pt_BR: Expressão de Filtro
            zh_Hans: 过滤表达式
          llm_description: Boolean expression for filtering results based on scalar
            fields
          max: null
          min: null
          name: filter
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: vector
          form: llm
          human_description:
            en_US: The name of the vector field to search against. Defaults to 'vector'
              if not provided.
            ja_JP: The name of the vector field to search against. Defaults to 'vector'
              if not provided.
            pt_BR: O nome do campo vetorial para pesquisar. O padrão é 'vector' se
              não for fornecido.
            zh_Hans: 要进行搜索的向量字段的名称。如果未提供，则默认为 'vector'。
          label:
            en_US: Vector Field Name
            ja_JP: Vector Field Name
            pt_BR: Nome do Campo Vetorial
            zh_Hans: 向量字段名称
          llm_description: The name of the vector field for similarity search. Defaults
            to 'vector' if not specified.
          max: null
          min: null
          name: anns_field
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: Distance metric type for similarity calculation
            ja_JP: Distance metric type for similarity calculation
            pt_BR: Tipo de métrica de distância para cálculo de similaridade
            zh_Hans: 用于相似度计算的距离度量类型
          label:
            en_US: Metric Type
            ja_JP: Metric Type
            pt_BR: Tipo de Métrica
            zh_Hans: 距离度量类型
          llm_description: 'Distance metric type: COSINE, L2, or IP'
          max: null
          min: null
          name: metric_type
          options:
          - icon: ''
            label:
              en_US: Cosine Similarity
              ja_JP: Cosine Similarity
              pt_BR: Similaridade Cosseno
              zh_Hans: 余弦相似度
            value: COSINE
          - icon: ''
            label:
              en_US: Euclidean Distance
              ja_JP: Euclidean Distance
              pt_BR: Distância Euclidiana
              zh_Hans: 欧几里得距离
            value: L2
          - icon: ''
            label:
              en_US: Inner Product
              ja_JP: Inner Product
              pt_BR: Produto Interno
              zh_Hans: 内积
            value: IP
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: 1
          form: form
          human_description:
            en_US: Search precision level (1-5, higher means more accurate but slower)
            ja_JP: Search precision level (1-5, higher means more accurate but slower)
            pt_BR: Nível de precisão da busca (1-5, maior significa mais preciso mas
              mais lento)
            zh_Hans: 搜索精度级别（1-5，越高越准确但越慢）
          label:
            en_US: Search Level
            ja_JP: Search Level
            pt_BR: Nível de Busca
            zh_Hans: 搜索级别
          llm_description: Search precision level from 1 to 5 (higher values provide
            better recall but slower performance)
          max: null
          min: null
          name: level
          options:
          - icon: ''
            label:
              en_US: Level 1 (Fastest)
              ja_JP: Level 1 (Fastest)
              pt_BR: Nível 1 (Mais Rápido)
              zh_Hans: 级别1（最快）
            value: '1'
          - icon: ''
            label:
              en_US: Level 2
              ja_JP: Level 2
              pt_BR: Nível 2
              zh_Hans: 级别2
            value: '2'
          - icon: ''
            label:
              en_US: Level 3
              ja_JP: Level 3
              pt_BR: Nível 3
              zh_Hans: 级别3
            value: '3'
          - icon: ''
            label:
              en_US: Level 4
              ja_JP: Level 4
              pt_BR: Nível 4
              zh_Hans: 级别4
            value: '4'
          - icon: ''
            label:
              en_US: Level 5 (Most Accurate)
              ja_JP: Level 5 (Most Accurate)
              pt_BR: Nível 5 (Mais Preciso)
              zh_Hans: 级别5（最准确）
            value: '5'
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Minimum similarity threshold for range search
            ja_JP: Minimum similarity threshold for range search
            pt_BR: Limite mínimo de similaridade para busca por intervalo
            zh_Hans: 范围搜索的最小相似度阈值
          label:
            en_US: Search Radius
            ja_JP: Search Radius
            pt_BR: Raio de Busca
            zh_Hans: 搜索半径
          llm_description: Minimum similarity threshold for range search (used with
            range_filter)
          max: null
          min: null
          name: radius
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Maximum similarity threshold for range search
            ja_JP: Maximum similarity threshold for range search
            pt_BR: Limite máximo de similaridade para busca por intervalo
            zh_Hans: 范围搜索的最大相似度阈值
          label:
            en_US: Range Filter
            ja_JP: Range Filter
            pt_BR: Filtro de Intervalo
            zh_Hans: 范围过滤器
          llm_description: Maximum similarity threshold for range search (used with
            radius)
          max: null
          min: null
          name: range_filter
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: 'Additional search parameters as JSON (e.g., ''{"nprobe": 16}'')'
            ja_JP: 'Additional search parameters as JSON (e.g., ''{"nprobe": 16}'')'
            pt_BR: 'Parâmetros de busca adicionais como JSON (ex: ''{"nprobe": 16}'')'
            zh_Hans: '额外的搜索参数，JSON格式（例如：''{"nprobe": 16}''）'
          label:
            en_US: Advanced Search Parameters
            ja_JP: Advanced Search Parameters
            pt_BR: Parâmetros Avançados de Busca
            zh_Hans: 高级搜索参数
          llm_description: Additional search parameters as JSON object for fine-tuning
            search behavior
          max: null
          min: null
          name: search_params
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        params:
          anns_field: ''
          collection_name: ''
          filter: ''
          level: ''
          limit: ''
          metric_type: ''
          output_fields: ''
          query_vector: ''
          radius: ''
          range_filter: ''
          search_params: ''
        provider_id: zeroz-lab/milvus/milvus
        provider_name: zeroz-lab/milvus/milvus
        provider_type: builtin
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: '100'
        selected: false
        title: Milvus 向量搜索
        tool_configurations:
          level:
            type: constant
            value: '5'
          metric_type:
            type: constant
            value: COSINE
        tool_description: 在 Milvus 集合中执行向量相似度搜索
        tool_label: Milvus 向量搜索
        tool_name: milvus_search
        tool_node_version: '2'
        tool_parameters:
          anns_field:
            type: mixed
            value: embedding
          collection_name:
            type: mixed
            value: triples
          filter:
            type: mixed
            value: null
          limit:
            type: constant
            value: 10
          output_fields:
            type: mixed
            value: triple
          query_vector:
            type: mixed
            value: '{{#1758563148923.embedding#}}'
          radius:
            type: constant
            value: null
          range_filter:
            type: constant
            value: null
          search_params:
            type: mixed
            value: null
        type: tool
      height: 146
      id: '1758643832137'
      parentId: '1758562758867'
      position:
        x: 1116
        y: 60
      positionAbsolute:
        x: 4577
        y: 813
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      zIndex: 1002
    - data:
        desc: ''
        isInIteration: false
        isInLoop: true
        is_team_authorization: true
        loop_id: '1758562758867'
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The name of the collection to search in
            ja_JP: The name of the collection to search in
            pt_BR: O nome da coleção para pesquisar
            zh_Hans: 要搜索的集合名称
          label:
            en_US: Collection Name
            ja_JP: Collection Name
            pt_BR: Nome da Coleção
            zh_Hans: 集合名称
          llm_description: The name of the collection to perform vector search in
          max: null
          min: null
          name: collection_name
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The query vector as JSON array (e.g., [0.1, 0.2, 0.3])
            ja_JP: The query vector as JSON array (e.g., [0.1, 0.2, 0.3])
            pt_BR: 'O vetor de consulta como array JSON (ex: [0.1, 0.2, 0.3])'
            zh_Hans: 查询向量，JSON数组格式（例如：[0.1, 0.2, 0.3]）
          label:
            en_US: Query Vector
            ja_JP: Query Vector
            pt_BR: Vetor de Consulta
            zh_Hans: 查询向量
          llm_description: The query vector as a JSON array of numbers for similarity
            search
          max: null
          min: null
          name: query_vector
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: 10
          form: llm
          human_description:
            en_US: Maximum number of results to return (1-1000)
            ja_JP: Maximum number of results to return (1-1000)
            pt_BR: Número máximo de resultados a retornar (1-1000)
            zh_Hans: 返回的最大结果数量（1-1000）
          label:
            en_US: Result Limit
            ja_JP: Result Limit
            pt_BR: Limite de Resultados
            zh_Hans: 结果限制
          llm_description: 'Maximum number of search results to return (1-1000, default:
            10)'
          max: null
          min: null
          name: limit
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Comma-separated list of fields to return (e.g., 'field1,field2')
            ja_JP: Comma-separated list of fields to return (e.g., 'field1,field2')
            pt_BR: 'Lista de campos separados por vírgula para retornar (ex: ''field1,field2'')'
            zh_Hans: 要返回的字段列表，用逗号分隔（例如：'field1,field2'）
          label:
            en_US: Output Fields
            ja_JP: Output Fields
            pt_BR: Campos de Saída
            zh_Hans: 输出字段
          llm_description: Comma-separated list of fields to include in search results
          max: null
          min: null
          name: output_fields
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Filter expression for scalar fields (e.g., 'age > 18 and status
              == "active"')
            ja_JP: Filter expression for scalar fields (e.g., 'age > 18 and status
              == "active"')
            pt_BR: 'Expressão de filtro para campos escalares (ex: ''age > 18 and
              status == "active"'')'
            zh_Hans: 标量字段的过滤表达式（例如：'age > 18 and status == "active"'）
          label:
            en_US: Filter Expression
            ja_JP: Filter Expression
            pt_BR: Expressão de Filtro
            zh_Hans: 过滤表达式
          llm_description: Boolean expression for filtering results based on scalar
            fields
          max: null
          min: null
          name: filter
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: vector
          form: llm
          human_description:
            en_US: The name of the vector field to search against. Defaults to 'vector'
              if not provided.
            ja_JP: The name of the vector field to search against. Defaults to 'vector'
              if not provided.
            pt_BR: O nome do campo vetorial para pesquisar. O padrão é 'vector' se
              não for fornecido.
            zh_Hans: 要进行搜索的向量字段的名称。如果未提供，则默认为 'vector'。
          label:
            en_US: Vector Field Name
            ja_JP: Vector Field Name
            pt_BR: Nome do Campo Vetorial
            zh_Hans: 向量字段名称
          llm_description: The name of the vector field for similarity search. Defaults
            to 'vector' if not specified.
          max: null
          min: null
          name: anns_field
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: Distance metric type for similarity calculation
            ja_JP: Distance metric type for similarity calculation
            pt_BR: Tipo de métrica de distância para cálculo de similaridade
            zh_Hans: 用于相似度计算的距离度量类型
          label:
            en_US: Metric Type
            ja_JP: Metric Type
            pt_BR: Tipo de Métrica
            zh_Hans: 距离度量类型
          llm_description: 'Distance metric type: COSINE, L2, or IP'
          max: null
          min: null
          name: metric_type
          options:
          - icon: ''
            label:
              en_US: Cosine Similarity
              ja_JP: Cosine Similarity
              pt_BR: Similaridade Cosseno
              zh_Hans: 余弦相似度
            value: COSINE
          - icon: ''
            label:
              en_US: Euclidean Distance
              ja_JP: Euclidean Distance
              pt_BR: Distância Euclidiana
              zh_Hans: 欧几里得距离
            value: L2
          - icon: ''
            label:
              en_US: Inner Product
              ja_JP: Inner Product
              pt_BR: Produto Interno
              zh_Hans: 内积
            value: IP
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: 1
          form: form
          human_description:
            en_US: Search precision level (1-5, higher means more accurate but slower)
            ja_JP: Search precision level (1-5, higher means more accurate but slower)
            pt_BR: Nível de precisão da busca (1-5, maior significa mais preciso mas
              mais lento)
            zh_Hans: 搜索精度级别（1-5，越高越准确但越慢）
          label:
            en_US: Search Level
            ja_JP: Search Level
            pt_BR: Nível de Busca
            zh_Hans: 搜索级别
          llm_description: Search precision level from 1 to 5 (higher values provide
            better recall but slower performance)
          max: null
          min: null
          name: level
          options:
          - icon: ''
            label:
              en_US: Level 1 (Fastest)
              ja_JP: Level 1 (Fastest)
              pt_BR: Nível 1 (Mais Rápido)
              zh_Hans: 级别1（最快）
            value: '1'
          - icon: ''
            label:
              en_US: Level 2
              ja_JP: Level 2
              pt_BR: Nível 2
              zh_Hans: 级别2
            value: '2'
          - icon: ''
            label:
              en_US: Level 3
              ja_JP: Level 3
              pt_BR: Nível 3
              zh_Hans: 级别3
            value: '3'
          - icon: ''
            label:
              en_US: Level 4
              ja_JP: Level 4
              pt_BR: Nível 4
              zh_Hans: 级别4
            value: '4'
          - icon: ''
            label:
              en_US: Level 5 (Most Accurate)
              ja_JP: Level 5 (Most Accurate)
              pt_BR: Nível 5 (Mais Preciso)
              zh_Hans: 级别5（最准确）
            value: '5'
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Minimum similarity threshold for range search
            ja_JP: Minimum similarity threshold for range search
            pt_BR: Limite mínimo de similaridade para busca por intervalo
            zh_Hans: 范围搜索的最小相似度阈值
          label:
            en_US: Search Radius
            ja_JP: Search Radius
            pt_BR: Raio de Busca
            zh_Hans: 搜索半径
          llm_description: Minimum similarity threshold for range search (used with
            range_filter)
          max: null
          min: null
          name: radius
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Maximum similarity threshold for range search
            ja_JP: Maximum similarity threshold for range search
            pt_BR: Limite máximo de similaridade para busca por intervalo
            zh_Hans: 范围搜索的最大相似度阈值
          label:
            en_US: Range Filter
            ja_JP: Range Filter
            pt_BR: Filtro de Intervalo
            zh_Hans: 范围过滤器
          llm_description: Maximum similarity threshold for range search (used with
            radius)
          max: null
          min: null
          name: range_filter
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: 'Additional search parameters as JSON (e.g., ''{"nprobe": 16}'')'
            ja_JP: 'Additional search parameters as JSON (e.g., ''{"nprobe": 16}'')'
            pt_BR: 'Parâmetros de busca adicionais como JSON (ex: ''{"nprobe": 16}'')'
            zh_Hans: '额外的搜索参数，JSON格式（例如：''{"nprobe": 16}''）'
          label:
            en_US: Advanced Search Parameters
            ja_JP: Advanced Search Parameters
            pt_BR: Parâmetros Avançados de Busca
            zh_Hans: 高级搜索参数
          llm_description: Additional search parameters as JSON object for fine-tuning
            search behavior
          max: null
          min: null
          name: search_params
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        params:
          anns_field: ''
          collection_name: ''
          filter: ''
          level: ''
          limit: ''
          metric_type: ''
          output_fields: ''
          query_vector: ''
          radius: ''
          range_filter: ''
          search_params: ''
        provider_id: zeroz-lab/milvus/milvus
        provider_name: zeroz-lab/milvus/milvus
        provider_type: builtin
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: '100'
        selected: false
        title: Milvus 向量搜索
        tool_configurations:
          level:
            type: constant
            value: '5'
          metric_type:
            type: constant
            value: COSINE
        tool_description: 在 Milvus 集合中执行向量相似度搜索
        tool_label: Milvus 向量搜索
        tool_name: milvus_search
        tool_node_version: '2'
        tool_parameters:
          anns_field:
            type: mixed
            value: embedding
          collection_name:
            type: mixed
            value: entities
          filter:
            type: mixed
            value: null
          limit:
            type: constant
            value: 10
          output_fields:
            type: mixed
            value: entity
          query_vector:
            type: mixed
            value: '{{#1758563148923.embedding#}}'
          radius:
            type: constant
            value: null
          range_filter:
            type: constant
            value: null
          search_params:
            type: mixed
            value: null
        type: tool
      height: 146
      id: '1758643836216'
      parentId: '1758562758867'
      position:
        x: 1116
        y: 246
      positionAbsolute:
        x: 4577
        y: 999
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      zIndex: 1002
    - data:
        code: "import json\n\ndef main(result: list):\n    tmp = result[0]['results']\n\
          \    useful_entities = []\n    for item in tmp:\n        entity = json.loads(item['entity'])\n\
          \        useful_entities.append(entity)\n    return {\"useful_entities\"\
          : json.dumps(useful_entities, ensure_ascii=False, indent=2)}"
        code_language: python3
        desc: ''
        isInIteration: false
        isInLoop: true
        loop_id: '1758562758867'
        outputs:
          useful_entities:
            children: null
            type: string
        selected: false
        title: 相关实体提取
        type: code
        variables:
        - value_selector:
          - '1758643836216'
          - json
          value_type: array[object]
          variable: result
      height: 54
      id: '1758643999274'
      parentId: '1758562758867'
      position:
        x: 1420
        y: 292
      positionAbsolute:
        x: 4881
        y: 1045
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      zIndex: 1002
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: 475b1015-e35c-43dc-a0ad-570c91fb5a9b
            value: 最终答案
            varType: string
            variable_selector:
            - '1758562758867'
            - current
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: 条件分支 4
        type: if-else
      height: 126
      id: '1758645868964'
      position:
        x: 7694
        y: 962
      positionAbsolute:
        x: 7694
        y: 962
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            max_tokens: 8192
            temperature: 0.6
          mode: chat
          name: Qwen3-8B
          provider: langgenius/xinference/xinference
        prompt_template:
        - id: 2e9bb7d3-a72a-461f-8fe1-39d9e953e949
          role: system
          text: 你是一个在中医领域拥有丰富知识的专家。现在，请你基于已经被解答的子问题及其答案，完成指定任务。
        - id: 0d04a2d1-ec40-430c-b2ae-e58f5cacc73e
          role: user
          text: '# 以下是当前已经得到解决的子问题：

            ```

            {{#1758562758867.history#}}

            ```


            # {{#sys.query#}}'
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 1000
        selected: false
        title: 回答
        type: llm
        variables: []
        vision:
          enabled: false
      height: 120
      id: '1758645920356'
      position:
        x: 8696
        y: 964.5
      positionAbsolute:
        x: 8696
        y: 964.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1758645920356.text#}}'
        desc: ''
        selected: false
        title: ANSWER
        type: answer
        variables: []
      height: 105
      id: '1758645944326'
      position:
        x: 9030
        y: 972
      positionAbsolute:
        x: 9030
        y: 972
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "import re\n\ndef main(output: str):\n    output = re.sub(r\"<think>.*?</think>\"\
          , \"\", output, flags=re.DOTALL)\n    output = re.sub(r\"^(.*?)</think>\"\
          , \"\", output, flags=re.DOTALL)\n    return {\n        \"model_output\"\
          : output.strip()\n    }\n"
        code_language: python3
        desc: ''
        outputs:
          model_output:
            children: null
            type: string
        selected: false
        title: 大模型输出提取
        type: code
        variables:
        - value_selector:
          - '1758537397622'
          - text
          value_type: string
          variable: output
      height: 54
      id: '1758771815078'
      position:
        x: 1791
        y: 778
      positionAbsolute:
        x: 1791
        y: 778
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: -4516
      y: -295.9999999999999
      zoom: 0.7
